{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block extra-style %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=28oedifssh"></script>
    <style>
        .container {
            float: left;
            padding-right: 0px;
            padding-left: 0px;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="map" style="width:calc(100vw - 25px);height:calc(100vh - 56px);"></div>
{% endblock %}

{% block extra-script %}
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.619825, 127.083885),
            zoom: 11,
            maxZoom: 22,
            minZoom: 7,
            disableKineticPan: false,//관성 드래깅
            tileSpare: 20,
            zoomControl: true,
            zoomControlOptions:{
                position: naver.maps.Position.TOP_RIGHT,
                style: naver.maps.ZoomControlStyle.SMALL,
            },
            mapTypeId: naver.maps.MapTypeId.NORMAL,
        };
        {#옵션 설정:https://navermaps.github.io/maps.js.ncp/docs/index.html#}
        {#옵션 설정 디테일:https://navermaps.github.io/maps.js.ncp/docs/naver.maps.html#.MapOptions#}

        {#HTML5 Geolocation API 활용하기: https://navermaps.github.io/maps.js.ncp/docs/tutorial-6-map-geolocation.example.html#}

        {#StyleMap 사용자 정의 컨트롤 예제: 버튼달기: StyleMap 사용자 정의 컨트롤 예제#}
        var map = new naver.maps.Map('map', mapOptions);
    </script>
{% endblock %}

